<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Tic Tac Toe</title>
	<script id="angularScript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

</head>
<body ng-app="ticTacToe">
<div class="site-wrapper">

	<div class="site-wrapper-inner">

		<div class="cover-container" ng-controller="MainController">
			<div class="inner cover"  >

				<div>
					<p id="board"  ng-repeat="boardRow in board">
						<button ng-click="playForUser([board.indexOf(boardRow) + 1, $index + 1])" ng-repeat-start="boardCell in boardRow track by $index" class="btn btn-primary btn-lg">{{getCellShape(boardCell)}}</button> <span ng-repeat-end></span>
					</p>
				</div>

				<div class="mastfoot">
					<div class="inner" ng-show="gameStatus.isGameOver === true">
						Game resulted in a <b>{{gameStatus.gameResult}}</b><br/>
						<span ng-show="gameStatus.winnerShape != null">{{gameStatus.winnerShape}} is the winner</span><br/>
					</div>
					<div class="inner">
						<a href="#" ng-click="playAgain()">Play Again</a>
					</div>

				</div>
			</div>

		</div>

	</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/cover.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<script src="assets/js/Computer.js"></script>
<script src="assets/js/Player.js"></script>
<script src="assets/js/TicTacToe.js"></script>
<script src="assets/js/app.js"></script>

</body>
</html>